In [1]:
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt;

In [2]:
df = pd.read_table('./input00.txt', skiprows=1)
df.head()

   yyyy     month       tmax  tmin
0  1908   January        5.0  -1.4
1  1908  February        7.3   1.9
2  1908     March        6.2   0.3
3  1908     April  Missing_1   2.1
4  1908       May  Missing_2   7.7

In [3]:
df.tmax = pd.to_numeric(df.tmax, errors="coerce")
df.tmin = pd.to_numeric(df.min, errors="coerce")

### 70/30 testing split for each model.and

df.tmax.head()

0    5.0
1    7.3
2    6.2
3    NaN
4    NaN
Name: tmax, dtype: float64